name: lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  quality_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install Dependencies
        run: pip install -r requirements.txt
      - name: Run Linters
        run: |
          black .
          isort .
          mypy .
